[Unit]
Description=ARDOP Modem
After=network-online.target
After=pulseaudio.service

[Service]
ExecStart=%h/.local/bin/ardopc 8515 plughw:2,0 plughw:2,0

[Install]
WantedBy=default.target

