[Unit]
Description=Kel-Agent
Wants=rigctld.service
PartOf=graphical-session.target

[Service]
ExecStart=/home/chris/go/bin/kel-agent

[Install]
WantedBy=xsession.target

